<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geomemories">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="359 Geo Memories"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoMemories">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".RecyclerActivity"/>
        <activity android:name=".PostCreationActivity"/>
        <activity android:name=".List"></activity>
        <activity android:name=".TempActivity"></activity>
        <activity android:name=".CameraImplicit"></activity>
<!--        <activity android:name=".LoginActivity"></activity>-->
    </application>

</manifest>